<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Cerberus: {title: }</title>
    <link rel="stylesheet" type="text/css" href="{relocatable: default.css}"/>
    <meta content="Cerberus OpenSource Countinuous Integration CI tool builder Ruby RubyOnRails test infected rake maven subversion Anatol Pomozov">
  </head>
  <body>
    <div id="page">
      <div id="header">
       <div id="site-title"><a href="http://cerberus.rubyforge.org/">Ce<font color="red">rb</font>erus</a></div>
       <div id="site-subtitle">Continuous Integration tool for Ruby.<br><small>Would you like to install it? Just type 'gem install cerberus'.</small></div>
      </div>
      <hr class="hidden"/>
      <div id="main">
        <div id="sidebar-wrapper">
          <div id="sidebar">
            <h3>Menu</h3>
            {menu: }
            <dl>
              <dt><a href="http://rubyforge.org/frs/?group_id=1794">Downloads</a><br /></dt>
              <dt><a href="http://cpjolicoeur.lighthouseapp.com/projects/22299-cerberus">Issue Tracker</a><br /></dt>
              <dt><a href="http://groups.google.com/group/cerberusci">Public Forum / Mailing List</a><br /></dt>
              <dt><a href="http://wiki.github.com/cpjolicoeur/cerberus">Wiki</a><br /></dt>
              <dt><a href="http://github.com/cpjolicoeur/cerberus/tree">GitHub Source</a><br /></dt>
              <dt><a href="http://twitter.com/cerberusci">Twitter</a><br /></dt>
            </dl>
          </div>
        </div>
        <div id="content-wrapper">
          <div id="content"><webgen:block name='content' /></div>
        </div>
      </div>
      <hr class="hidden" />
      <div id="footer">
        <p>Copyright &copy; 2006-2010, <a href="http://craigjolicoeur.com">Craig Jolicoeur</a> &amp; <a href="http://pomozov.info">Anatol Pomozov</a>. All rights reserved.<br />
           This site was generated by <a href="http://webgen.rubyforge.org/">WebGen</a>.</p>
      </div>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-614329-19");
        pageTracker._trackPageview();
        } catch(err) {}</script>
  </body>
</html>
