<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Cerberus: {title: }</title>
    <link rel="stylesheet" type="text/css" href="{relocatable: default.css}"/>
    <meta content="Cerberus OpenSource Countinuous Integration CI tool builder Ruby RubyOnRails test infected rake maven subversion Anatol Pomozov">
  </head>
  <body>
    <div id="page">
      <div id="header">
       <div id="site-title"><a href="http://cerberus.rubyforge.org/">Cerberus</a></div>
       <div id="site-subtitle">Continuous Integration tool for Ruby</div>
      </div>
      <hr class="hidden"/>
      <div id="main">
        <div id="sidebar-wrapper">
          <div id="sidebar">
            <h3>Menu</h3>
            {menu: }
            <dl>
              <dt><a href="http://rubyforge.org/frs/?group_id=1794">Downloads</a><br /></dt>
              <dt><a href="http://rubyforge.org/tracker/?group_id=1794">Issue Tracker</a><br /></dt>
              <dt><a href="http://rubyforge.org/forum/?group_id=1794">Public Forum</a><br /></dt>
            </dl>
          </div>
        </div>
        <div id="content-wrapper">
          <div id="content">{content: }</div>
        </div>
      </div>
      <hr class="hidden" />
      <div id="footer">
        <p>Copyright &copy; 2006, <a href="http://pomozov.info">Anatol Pomozov</a>. All rights reserved.<br />
           This site was generated by <a href="http://webgen.rubyforge.org/">WebGen</a>.</p>
      </div>
    </div>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-171695-9";
    urchinTracker();
    </script>
  </body>
</html>
